/* Custom Base theme */

.theme-base-22 .sidebar,
.theme-base-22 .sidebar-toggle:active,
.theme-base-22 #sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #006699;
}
.theme-base-22 .container a,
.theme-base-22 .sidebar-toggle,
.theme-base-22 .related-posts li a:hover {
    color: #006699;
}
.theme-base-22 .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom, #006699, #006699 20%, #fff 20%, #fff 40%, #006699 40%, #006699 60%, #fff 60%, #fff 80%, #006699 80%, #006699 100%);
    background-image: -moz-linear-gradient(to bottom, #006699, #006699 20%, #fff 20%, #fff 40%, #006699 40%, #006699 60%, #fff 60%, #fff 80%, #006699 80%, #006699 100%);
    background-image: -ms-linear-gradient(to bottom, #006699, #006699 20%, #fff 20%, #fff 40%, #006699 40%, #006699 60%, #fff 60%, #fff 80%, #006699 80%, #006699 100%);
    background-image: linear-gradient(to bottom, #006699, #006699 20%, #fff 20%, #fff 40%, #006699 40%, #006699 60%, #fff 60%, #fff 80%, #006699 80%, #006699 100%);
}
.theme-base-22 .sidebar-toggle:active:before,
.theme-base-22 #sidebar-checkbox:checked ~ .sidebar-toggle:before {
    background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #006699 20%, #006699 40%, #fff 40%, #fff 60%, #006699 60%, #006699 80%, #fff 80%, #fff 100%);
    background-image: -moz-linear-gradient(to bottom, #fff, #fff 20%, #006699 20%, #006699 40%, #fff 40%, #fff 60%, #006699 60%, #006699 80%, #fff 80%, #fff 100%);
    background-image: -ms-linear-gradient(to bottom, #fff, #fff 20%, #006699 20%, #006699 40%, #fff 40%, #fff 60%, #006699 60%, #006699 80%, #fff 80%, #fff 100%);
    background-image: linear-gradient(to bottom, #fff, #fff 20%, #006699 20%, #006699 40%, #fff 40%, #fff 60%, #006699 60%, #006699 80%, #fff 80%, #fff 100%);
}



ul.archive, ul.tags {
    list-style: none;
    padding-left: 0px;
}

ul.tags li {
    display: inline;
    padding: 5px;
    /*border: 1px solid #45748C;
    border-radius: 4px;*/
}

footer a.fab:hover {
    text-decoration: none;
}

ul.tags li a#unq {
    color: #45748C;
}

nav.postindexpager, div.pager {
    display: inline-block;
    width: 100%;
}

nav.postindexpager div.pager p.next, div.pager p.previous {
    float:left;
}

nav.postindexpager div.pager p.previous, div.pager p.next {
    float: right;
}

hr {
    border-top: 4px double #8c8b8b;
    text-align: center;
    margin: 0 0;
}

hr:after {
    content: '</>';
    display: inline-block;
    position: relative;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
}

footer {
    text-align: center;
}

footer a.fab{
    margin-left: 30px;
    margin-right: 30px;
}

/* For Kate, now, forever, always! */

code {white-space: pre-wrap;}
span.smallcaps {font-variant: small-caps;}
span.underline {text-decoration: underline;}
div.column {display: inline-block; vertical-align: top; width: 50%;}

a.sourceLine { display: inline-block; line-height: 1.25; }
a.sourceLine { pointer-events: none; color: inherit; text-decoration: inherit; }
a.sourceLine:empty { height: 1.2em; position: absolute; }
.sourceCode { overflow: auto; }
code.sourceCode { white-space: pre; position: relative; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
code.sourceCode { white-space: pre-wrap; }
a.sourceLine { text-indent: -1em; padding-left: 1em; }
}
pre.numberSource a.sourceLine
  { position: relative; }
pre.numberSource a.sourceLine:empty
  { position: absolute; }
pre.numberSource a.sourceLine::before
  { content: attr(data-line-number);
    position: absolute; left: -5em; text-align: right; vertical-align: baseline;
    border: none; pointer-events: all;
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: #ffffff;
    color: #a0a0a0;
  }
pre.numberSource { margin-left: 3em; border-left: 1px solid #a0a0a0;  padding-left: 4px; }
div.sourceCode
  { color: #1f1c1b; background-color: #ffffff; }
@media screen {
a.sourceLine::before { text-decoration: underline; }
}
code span. { color: #1f1c1b; } /* Normal */
code span.al { color: #bf0303; background-color: #f7e6e6; font-weight: bold; } /* Alert */
code span.an { color: #ca60ca; } /* Annotation */
code span.at { color: #0057ae; } /* Attribute */
code span.bn { color: #b08000; } /* BaseN */
code span.bu { color: #644a9b; font-weight: bold; } /* BuiltIn */
code span.cf { color: #1f1c1b; font-weight: bold; } /* ControlFlow */
code span.ch { color: #924c9d; } /* Char */
code span.cn { color: #aa5500; } /* Constant */
code span.co { color: #898887; } /* Comment */
code span.cv { color: #0095ff; } /* CommentVar */
code span.do { color: #607880; } /* Documentation */
code span.dt { color: #0057ae; } /* DataType */
code span.dv { color: #b08000; } /* DecVal */
code span.er { color: #bf0303; text-decoration: underline; } /* Error */
code span.ex { color: #0095ff; font-weight: bold; } /* Extension */
code span.fl { color: #b08000; } /* Float */
code span.fu { color: #644a9b; } /* Function */
code span.im { color: #ff5500; } /* Import */
code span.in { color: #b08000; } /* Information */
code span.kw { color: #1f1c1b; font-weight: bold; } /* Keyword */
code span.op { color: #1f1c1b; } /* Operator */
code span.ot { color: #006e28; } /* Other */
code span.pp { color: #006e28; } /* Preprocessor */
code span.re { color: #0057ae; background-color: #e0e9f8; } /* RegionMarker */
code span.sc { color: #3daee9; } /* SpecialChar */
code span.ss { color: #ff5500; } /* SpecialString */
code span.st { color: #bf0303; } /* String */
code span.va { color: #0057ae; } /* Variable */
code span.vs { color: #bf0303; } /* VerbatimString */
code span.wa { color: #bf0303; } /* Warning */
